<% provide :page_title, t("hyrax.works.listing.journal.name") %>

<% provide :head do %>
  <%= auto_discovery_link_tag(:rss, 'journals.rss', title: t('blacklight.search.rss_feed')) %>
  <%= auto_discovery_link_tag(:atom, 'journals.atom', title: t('blacklight.search.atom_feed')) %>
<% end %>

<%= javascript_tag do %>
  <%= render partial: 'scripts', formats: [:js] %>
<% end %>

<% provide :page_header do %>
  <h1><span class="fa fa-file"></span> <%= t("hyrax.works.listing.journal.name") %></h1>
<% end %>

<%= render 'filter' %>
<%= render 'document_list' %>

<!--
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <%#= render 'search_header' %>
        <h2 class="sr-only">Journals listing</h2>
        <%#= render 'document_list' %>
        <%#= render 'results_pagination' %>
      </div>
    </div>
  </div>
</div>
<!-->
