  <% if can? :review, :submissions %>
    <li class="h5"><%= t('hyrax.admin.sidebar.tasks') %></li>
    <%= menu.nav_link(hyrax.admin_workflows_path) do %>
      <span class="fa fa-flag"></span> <span class="sidebar-action-text"><%= t('hyrax.admin.sidebar.workflow_review') %></span>
    <% end %>
  <% end %>

  <% if can? :manage, User %>
    <%= menu.nav_link(hyrax.admin_users_path) do %>
      <span class="fa fa-user"></span> <span class="sidebar-action-text"><%= t('hyrax.admin.sidebar.users') %></span>
    <% end %>
  <% end %>
  
  <% if current_user.journal_admin? %>
    <%
      locale_query = ''
      if params['locale'].present?
        locale_query = '?locale=' + params['locale']
      end
      url_new_journal = '/concern/journals/new' + locale_query
    %>

    <%= menu.nav_link(url_new_journal) do %>
      <span class="<%=t('hyrax.icons.journal')%>"></span> <span class="sidebar-action-text"><%= t('helpers.action.journal.new') %></span>
    <% end %>
  <% end %>
